*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80")
    no-repeat 0 60%;
  background-size: cover;
}
.slide-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: calc(100vh - 45rem);
  left: 30vw;
  width: 15vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.slide-nav__button {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  background: none;
  border: 0;
  margin: 0 4rem 0 0;
  padding: 0;
  text-transform: inherit;
  letter-spacing: 0.2rem;
  font-weight: inherit;
  color: var(--color-link);
}
.slide-nav__button span {
  display: block;
}

.slide-nav__button:focus {
  outline: none;
}

.slide-nav__button:hover span {
  animation: glitch-anim-text 0.5s linear alternate 1 backwards;
}

@keyframes glitch-anim-text {
  0%,
  100% {
    transform: translate3d(2px, -2px, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  20% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  41% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  52% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  61% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  75% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  96% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
}
